<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Django chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript"
            src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js'></script>
</head>

<body>
    <div class='container'>
        <div class='row border-bottom my-3 py-3'>
            <div class='col'>
                <h1 class='p-0 m-0'><a href="/" style="text-decoration: none; color: black">Django chat</a></h1>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
